**Section I: Import the Data**

Imports and Read in File

In [1]:
%matplotlib inline 

import pandas as pd
import numpy as np
from sklearn import cluster
from sklearn import metrics
from sklearn.metrics import pairwise_distances
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
matplotlib.style.use('ggplot')

In [2]:
adult = pd.read_csv("../../assets/datasets/adult.csv")

**Section II: Format the Data**

Convert the data to a Pandas dataframe to work with the data:

In [4]:
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,small
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,small
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,small
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,small
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,small

Convert the categorical data to numeric, and prepare a dataframe with these data.

In [10]:
adult['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [11]:
patsy

NameError: name 'patsy' is not defined

Check for and drop NaNs - our data are messy!

In [5]:
np.any(np.isnan(...))

SyntaxError: invalid syntax (<ipython-input-5-acbb2c9728b9>, line 1)

Scale your features

**Section III: Examine the Data**

Plot the data to see the distributions within these consumers.

After plotting, decide on how many clusters you want to start with.

**Section IV: Clustering Analysis**

Cluster the data with sklearn.cluster.KMeans

Get the labels and centroids

In [ ]:
labels = kmeans.labels_
centroids = kmeans.cluster_centers_

Compute the silhoutte score and inertia.

Add these new cluster labels to your dataframe. Create scatterplots that show your clusters in different colors ('hue')

### Section V: Interpreting your clusters
Look at your scatterplots. See how each of the clusters breakdown. Come up with descriptions for each of the clusters.

How do these relate to income? How can they inform a targeted marketing campaign?