In [1]:
import pandas as pd
import numpy as np

In [2]:
tks = pd.read_excel('/Users/andrewjeong/Downloads/TopKaraokeSongs.xlsx')
tks.head()

                 Title                        Artist
0            Let It Go                        Frozen
1                Happy             Pharrell Williams
2          Uptown Funk  Mark Ronson feat. Bruno Mars
3         Shake It off                  Taylor Swift
4  All About That Bass                Meghan Trainor

In [3]:
import spotipy
sp = spotipy.Spotify()

for x in 
results = sp.search(q='x', limit=20)
for i, t in enumerate(results['tracks']['items']):
    print ' ', i, t['name']

SyntaxError: invalid syntax (<ipython-input-3-9f86df6a8b85>, line 4)