In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import datetime

import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

## TECHNOLOGY INDUSTRY

- APPLE
- GOOGLE
- MICROSOFT
- IBM
- ORACLE

In [16]:
apple_start = datetime.datetime(2014, 01, 01)
apple_end = datetime.datetime(2016, 12, 05)
apple = web.DataReader('AAPL','google',apple_start,apple_end)
apple.head()

             Open   High    Low  Close     Volume
Date
2014-01-02  79.38  79.58  78.86  79.02   58791957
2014-01-03  78.98  79.10  77.20  77.28   98303870
2014-01-06  76.78  78.11  76.23  77.70  103359151
2014-01-07  77.76  77.99  76.85  77.15   79432766
2014-01-08  76.97  77.94  76.96  77.64   64686685

In [17]:
ms_start = datetime.datetime(2014, 01, 01)
ms_end = datetime.datetime(2016, 12, 05)
ms = web.DataReader('MSFT','google',ms_start,ms_end)
ms.head()

             Open   High    Low  Close    Volume
Date
2014-01-02  37.35  37.40  37.10  37.16  30643745
2014-01-03  37.20  37.22  36.60  36.91  31134795
2014-01-06  36.85  36.89  36.11  36.13  43615035
2014-01-07  36.32  36.49  36.21  36.41  35924726
2014-01-08  36.00  36.14  35.58  35.76  59979542

In [18]:
goog_start = datetime.datetime(2014, 01, 01)
goog_end = datetime.datetime(2016, 12, 05)
google = web.DataReader('GOOGL','google',goog_start,goog_end)
google.head()

              Open    High     Low   Close   Volume
Date
2014-01-02  558.29  559.43  554.68  557.12  1822719
2014-01-03  558.06  559.02  553.02  553.05  1669229
2014-01-06  557.06  559.99  553.77  559.22  1770782
2014-01-07  563.06  570.41  561.14  570.00  2553999
2014-01-08  573.57  574.23  567.21  571.19  2243444

In [19]:
ibm_start = datetime.datetime(2014, 01, 01)
ibm_end = datetime.datetime(2016, 12, 05)
ibm = web.DataReader('IBM','google',ibm_start,ibm_end)
ibm.head()

              Open    High     Low   Close   Volume
Date
2014-01-02  187.21  187.40  185.20  185.53  4546809
2014-01-03  185.83  187.35  185.30  186.64  4064095
2014-01-06  187.15  187.36  185.30  186.00  4068105
2014-01-07  186.39  190.35  186.38  189.71  5934322
2014-01-08  189.33  189.42  187.26  187.97  4604105

In [20]:
orcl_start = datetime.datetime(2014, 01, 01)
orcl_end = datetime.datetime(2016, 12, 05)
orcl = web.DataReader('ORCL','google',orcl_start,orcl_end)
orcl.head()

             Open   High    Low  Close    Volume
Date
2014-01-02  37.78  38.03  37.55  37.84  18163750
2014-01-03  37.65  37.86  37.56  37.62  11693898
2014-01-06  37.64  37.80  37.42  37.47  15329991
2014-01-07  37.66  37.93  37.50  37.85  16793331
2014-01-08  37.79  37.91  37.56  37.72  16111614

In [24]:
import seaborn as sns
%matplotlib inline

sns.factorplot(x='Date',y ='Close', data = apple, kind='box')

ValueError: Could not interpret input 'Date'