In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import datetime

import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

## FB STOCK

In [2]:
fb_start = datetime.datetime(2014, 07, 31)
fb_end = datetime.datetime(2016, 07, 31)
fb = web.DataReader('FB','google',fb_start,fb_end)

In [3]:
fb.head()

             Open   High    Low  Close    Volume
Date
2014-07-31  74.00  74.16  72.44  72.65  43991772
2014-08-01  72.22  73.22  71.55  72.36  43535314
2014-08-04  72.36  73.88  72.36  73.51  30776819
2014-08-05  73.51  73.59  72.18  72.69  34986147
2014-08-06  72.02  73.72  71.79  72.47  30985533

In [4]:
fb['2014']['Close'].mean()

76.0863551401869

In [5]:
fb[datetime.datetime(2015,5,1):datetime.datetime(2015,8,1)]['Close'].median()

82.3

In [6]:
fb['2016']['Close'].min()

94.159999999999997

In [7]:
fb['2016']['Close'].max()

125.0

In [8]:
fb[['Close']].resample('W').agg(max).head()

            Close
Date
2014-08-03  72.65
2014-08-10  73.51
2014-08-17  74.30
2014-08-24  75.29
2014-08-31  75.96

In [9]:
fb[['Close']].resample('D').agg(max).head()

            Close
Date
2014-07-31  72.65
2014-08-01  72.36
2014-08-02    NaN
2014-08-03    NaN
2014-08-04  73.51

In [10]:
fb[['Close']].resample('W',label='left').agg(max).head()

            Close
Date
2014-07-27  72.65
2014-08-03  73.51
2014-08-10  74.30
2014-08-17  75.29
2014-08-24  75.96

## FORECAST STOCK MARKET

In [11]:
sp500_start = datetime.datetime(2000,01,01)
sp500_end = datetime.datetime(2016,12,05)
sp500 = web.DataReader('SPY','google',sp500_start,sp500_end)

In [12]:
sp500.head()

              Open    High     Low   Close   Volume
Date
2001-01-09  131.05  131.50  129.42  129.84  5602700
2001-01-10  129.00  132.12  128.81  132.12  8725200
2001-01-11  131.09  133.48  131.09  132.25  6697900
2001-01-12  132.69  133.72  131.28  132.00  7064900
2001-01-16  132.00  133.19  131.52  132.84  8416500

In [13]:
sp500['Close_Y'] = sp500['Close'].shift(1)
sp500['Close_2D'] = sp500['Close'].shift(2)
sp500['Close_3D'] = sp500['Close'].shift(3)

In [18]:
sp500

,Open,High,Low,Close,Volume,Close_Y,Close_2D,Close_3D
Date,,,,,,,,
2001-01-09,131.05,131.50,129.42,129.84,5602700,NaN,NaN,NaN
2001-01-10,129.00,132.12,128.81,132.12,8725200,129.84,NaN,NaN
2001-01-11,131.09,133.48,131.09,132.25,6697900,132.12,129.84,NaN
2001-01-12,132.69,133.72,131.28,132.00,7064900,132.25,132.12,129.84
2001-01-16,132.00,133.19,131.52,132.84,8416500,132.00,132.25,132.12
2001-01-17,134.84,135.05,132.64,133.45,7800500,132.84,132.00,132.25
2001-01-18,133.44,135.70,132.94,134.78,8089500,133.45,132.84,132.00
2001-01-19,136.19,136.19,133.88,134.02,7775800,134.78,133.45,132.84
2001-01-22,134.25,135.78,133.56,134.91,7037200,134.02,134.78,133.45
2001-01-23,134.47,136.66,134.16,135.97,8453800,134.91,134.02,134.78
2001-01-24,136.25,137.31,135.84,136.38,6174100,135.97,134.91,134.02
2001-01-25,136.25,137.25,135.66,136.03,10807000,136.38,135.97,134.91
2001-01-26,135.16,136.12,134.45,135.88,7063300,136.03,136.38,135.97
2001-01-29,135.50,136.90,135.37,136.60,6651300,135.88,136.03,136.38
2001-01-30,136.30,137.92,135.79,137.80,7025100,136.60,135.88,136.03
2001-01-31,137.40,138.70,136.60,137.02,9672500,137.80,136.60,135.88
2001-02-01,137.10,137.95,136.25,137.93,8223800,137.02,137.80,136.60
2001-02-02,137.40,137.99,134.75,134.80,8187900,137.93,137.02,137.80
2001-02-05,134.80,135.94,134.75,135.79,4280900,134.80,137.93,137.02
2001-02-06,135.30,136.70,135.22,135.39,7092200,135.79,134.80,137.93
2001-02-07,134.72,135.40,133.68,134.69,5689800,135.39,135.79,134.80
2001-02-08,134.80,135.40,133.10,133.12,5876800,134.69,135.39,135.79
2001-02-09,133.35,133.35,131.26,131.84,9871200,133.12,134.69,135.39
2001-02-12,131.70,133.50,131.70,133.35,5790300,131.84,133.12,134.69
2001-02-13,133.70,134.17,132.00,132.26,6583200,133.35,131.84,133.12
2001-02-14,132.65,132.65,130.66,132.06,8390200,132.26,133.35,131.84
2001-02-15,132.84,133.52,131.99,133.34,5881800,132.06,132.26,133.35
2001-02-16,131.00,131.29,129.30,130.40,6432800,133.34,132.06,132.26
2001-02-20,131.04,131.14,128.10,128.39,5755300,130.40,133.34,132.06
2001-02-21,127.90,128.84,125.50,125.62,10789800,128.39,130.40,133.34
...,...,...,...,...,...,...,...,...
2016-10-24,215.00,215.32,214.48,214.89,60146592,213.98,213.88,214.28
2016-10-25,214.68,214.98,213.98,214.17,66542329,214.89,213.98,213.88
2016-10-26,213.21,214.42,212.93,213.74,75705478,214.17,214.89,213.98
2016-10-27,214.58,214.62,213.08,213.17,77220213,213.74,214.17,214.89
2016-10-28,213.14,213.93,211.71,212.54,140623183,213.17,213.74,214.17
2016-10-31,212.93,213.19,212.36,212.55,61272507,212.54,213.17,213.74
2016-11-01,212.93,212.99,209.60,211.01,122781818,212.55,212.54,213.17
2016-11-02,210.65,211.10,209.23,209.74,103330806,211.01,212.55,212.54
2016-11-03,209.99,210.24,208.46,208.78,88939346,209.74,211.01,212.55
2016-11-04,208.91,209.89,208.38,208.55,109122059,208.78,209.74,211.01
2016-11-07,211.45,213.19,211.30,213.15,109794861,208.55,208.78,209.74
2016-11-08,212.69,214.77,212.38,214.11,106772138,213.15,208.55,208.78
2016-11-09,212.37,217.10,212.34,216.38,258428972,214.11,213.15,208.55
2016-11-10,217.30,218.31,215.22,216.92,172113313,216.38,214.11,213.15
2016-11-11,216.08,216.70,215.32,216.42,100552732,216.92,216.38,214.11
2016-11-14,217.03,217.27,215.72,216.59,94579982,216.42,216.92,216.38
2016-11-15,217.04,218.28,216.80,218.28,91652580,216.59,216.42,216.92
2016-11-16,217.56,218.14,217.42,217.87,65617697,218.28,216.59,216.42
2016-11-17,218.05,219.06,217.92,218.99,69797191,217.87,218.28,216.59
2016-11-18,219.07,219.27,218.29,218.50,86265751,218.99,217.87,218.28
2016-11-21,219.17,220.18,219.00,220.15,72402638,218.50,218.99,217.87
2016-11-22,220.51,220.79,219.73,220.58,67428957,220.15,218.50,218.99
2016-11-23,219.98,220.76,219.75,220.70,56620237,220.58,220.15,218.50
2016-11-25,221.10,221.56,221.01,221.52,37872255,220.70,220.58,220.15
2016-11-28,221.16,221.48,220.36,220.48,76572511,221.52,220.70,220.58
2016-11-29,220.52,221.44,220.17,220.91,69886690,220.48,221.52,220.70
2016-11-30,221.63,221.82,220.31,220.38,113291793,220.91,220.48,221.52
2016-12-01,220.73,220.73,219.15,219.57,79040487,220.38,220.91,220.48
2016-12-02,219.67,220.25,219.26,219.68,74840347,219.57,220.38,220.91
2016-12-05,220.65,221.40,220.42,221.00,66402105,219.68,219.57,220.38

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [16]:
X_train = sp500[[x for x in sp500.columns if "Close" in x]].ix[3:,5:][:-1]
y_train = sp500[['Close']].iloc[3:,:].shift(-1)[:-1]

X_test = sp500
y_test = sp500

In [58]:
clf = SVR()
model = clf.fit(X_train,y_train)
pred = model.predict(X_test)