In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import datetime

import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

## FB STOCK

In [2]:
fb_start = datetime.datetime(2014, 07, 31)
fb_end = datetime.datetime(2016, 07, 31)
fb = web.DataReader('FB','google',fb_start,fb_end)

In [3]:
fb.head()

             Open   High    Low  Close    Volume
Date
2014-07-31  74.00  74.16  72.44  72.65  43991772
2014-08-01  72.22  73.22  71.55  72.36  43535314
2014-08-04  72.36  73.88  72.36  73.51  30776819
2014-08-05  73.51  73.59  72.18  72.69  34986147
2014-08-06  72.02  73.72  71.79  72.47  30985533

In [4]:
fb['2014']['Close'].mean()

76.0863551401869

In [5]:
fb[datetime.datetime(2015,5,1):datetime.datetime(2015,8,1)]['Close'].median()

82.3

In [6]:
fb['2016']['Close'].min()

94.159999999999997

In [7]:
fb['2016']['Close'].max()

125.0

In [8]:
fb[['Close']].resample('W').agg(max).head()

            Close
Date
2014-08-03  72.65
2014-08-10  73.51
2014-08-17  74.30
2014-08-24  75.29
2014-08-31  75.96

In [9]:
fb[['Close']].resample('D').agg(max).head()

            Close
Date
2014-07-31  72.65
2014-08-01  72.36
2014-08-02    NaN
2014-08-03    NaN
2014-08-04  73.51

In [10]:
fb[['Close']].resample('W',label='left').agg(max).head()

            Close
Date
2014-07-27  72.65
2014-08-03  73.51
2014-08-10  74.30
2014-08-17  75.29
2014-08-24  75.96

## FORECAST STOCK MARKET

In [11]:
sp500_start = datetime.datetime(2000,01,01)
sp500_end = datetime.datetime(2016,12,05)
sp500 = web.DataReader('SPY','google',sp500_start,sp500_end)

In [12]:
sp500.head()

              Open    High     Low   Close   Volume
Date
2001-01-08  129.88  130.19  127.62  130.19  6552200
2001-01-09  131.05  131.50  129.42  129.84  5602700
2001-01-10  129.00  132.12  128.81  132.12  8725200
2001-01-11  131.09  133.48  131.09  132.25  6697900
2001-01-12  132.69  133.72  131.28  132.00  7064900

In [13]:
sp500['Close_Y'] = sp500['Close'].shift(1)
sp500['Close_2D'] = sp500['Close'].shift(2)
sp500['Close_3D'] = sp500['Close'].shift(3)

In [14]:
sp500.head()

,Open,High,Low,Close,Volume,Close_Y,Close_2D,Close_3D
Date,,,,,,,,
2001-01-08,129.88,130.19,127.62,130.19,6552200,NaN,NaN,NaN
2001-01-09,131.05,131.50,129.42,129.84,5602700,130.19,NaN,NaN
2001-01-10,129.00,132.12,128.81,132.12,8725200,129.84,130.19,NaN
2001-01-11,131.09,133.48,131.09,132.25,6697900,132.12,129.84,130.19
2001-01-12,132.69,133.72,131.28,132.00,7064900,132.25,132.12,129.84

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [16]:
X = sp500.ix[3:,5:]
y = sp500[['Close']].iloc[3:].shift(-1)

In [17]:
y[pd.isnull(y).any(axis=1)]

            Close
Date
2016-12-02    NaN

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

NameError: name 'train_test_split' is not defined

In [19]:
clf = SVR()
model = clf.fit(X_train,y_train)
pred = model.predict(X_test)

NameError: name 'SVR' is not defined