In [3]:
# import modules

import pandas as pd
import numpy as np

In [2]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [6]:
# select the preTestScore column

df.loc[:,'preTestScore'].to_frame()

   preTestScore
0             4
1            24
2            31
3             2
4             3

In [4]:
# find the standard deviation of preTestScore

In [9]:
std = np.std(df['preTestScore'])

std

12.221292893961751

In [16]:
df['preTestScore'].std()

13.663820841916802

In [5]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore

In [14]:
from numpy import mean

mean(df['preTestScore'])

12.8

In [15]:
df[df['preTestScore']> mean(df['preTestScore'])]

    name  age  preTestScore  postTestScore
1  Molly   52            24             94
2   Tina   36            31             57

In [6]:
# select the rows in preTestScore with scores greater than the mean

In [7]:
# create a new column that shows the score change from 
# preTestScore to postTestScore

In [21]:
df['diff_scores'] = abs(df['preTestScore'] - df['postTestScore'])

In [22]:
df

    name  age  preTestScore  postTestScore  diff_scores
0  Jason   42             4             25           21
1  Molly   52            24             94           70
2   Tina   36            31             57           26
3   Jake   24             2             62           60
4    Amy   73             3             70           67