In [1]:
# Imports at the top
import json
import urllib
import pandas as pd
import numpy as np
import requests
import json
import re
import matplotlib.pyplot as plt
%matplotlib inline

# Scraping and Importing IMDB Data

In [2]:
# function to get Top 250 movies on IMDB 
# Scraping 
def get_top_250():
    response = requests.get('http://www.imdb.com/chart/top')
    html = response.text
    entries = re.findall("<a href.*?/title/(.*?)/", html)
    return list(set(entries))

In [3]:
# set entries equal to top 250 from scraped files
entries = get_top_250()

In [6]:
# get details and entries for IMDB movies, API

def get_entry(entry):
    res = requests.get('http://www.omdbapi.com/?i='+entry)
    if res.status_code != 200:
        print entry, res.status_code
    else:
        print '.',
    try:
        j = json.loads(res.text)
    except ValueError:
        j = None
    return j

In [7]:
entries_dict_list = [get_entry(e) for e in entries]

. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

In [8]:
# convert movie entires to dataframe
df = pd.DataFrame(entries_dict_list)

In [9]:
# Get gross revenue for movies using API

def get_gross(entry):
    response = requests.get('http://www.imdb.com/title/'+entry)
    html = response.text
    try:
        gross_list = re.findall("Gross:</h4>[ ]*\$([^ ]*)", html)
        gross = int(gross_list[0].replace(',', ''))
        print '.',
        return gross
    except Exception as ex:
        print
        print ex, entry, response.status_code
        return None

In [10]:
grosses = [(e, get_gross(e)) for e in entries]

. . . . . . .
list index out of range tt0046268 200

list index out of range tt0055630 200
. . . . .
list index out of range tt0057115 200
.
list index out of range tt0071315 200
. . . .
list index out of range tt0074896 200
. .
list index out of range tt0021749 200
. .
list index out of range tt0053125 200
. . .
list index out of range tt1220719 200

list index out of range tt0025316 200
. .
list index out of range tt0083922 200
. . .
list index out of range tt0072684 200
.
list index out of range tt0074958 200
. . . .
list index out of range tt0036775 200
. . . . . .
list index out of range tt0978762 200
. .
list index out of range tt0080678 200
. .
list index out of range tt0056592 200
.
list index out of range tt0095327 200
. . . . . . . . .
list index out of range tt0046438 200
.
list index out of range tt0015864 200
.
list index out of range tt0045152 200
. . . .
list index out of range tt0046911 200
.
list index out of range tt0050986 200
.
list index out of range tt0091251 200
. . . . . . . . . .
list index out of range tt0032553 200

list index out of range tt0032551 200
. . . . . .
list index out of range tt0060827 200
. . .
list index out of range tt0031679 200
. . . . . .
list index out of range tt0053198 200
. . .
list index out of range tt0050825 200

list index out of range tt0042876 200

list index out of range tt0083987 200
. . .
list index out of range tt0044079 200

list index out of range tt0041546 200
. . . . . .
list index out of range tt0092067 200
. . . .
list index out of range tt1954470 200
. . . . . . . .
list index out of range tt0057012 200

list index out of range tt0096283 200
.
list index out of range tt0064116 200
. . . . .
list index out of range tt0081505 200

list index out of range tt0038650 200
.
list index out of range tt0034583 200
. . . . .
list index out of range tt0046250 200
. .
list index out of range tt0033870 200
. . .
list index out of range tt0040897 200
. .
list index out of range tt0019254 200

list index out of range tt0066921 200

list index out of range tt0061512 200

list index out of range tt0033467 200
.
list index out of range tt0169102 200

list index out of range tt0017925 200
. . . .
list index out of range tt0055031 200
.
list index out of range tt0087544 200
. . .
list index out of range tt0050083 200
. .
list index out of range tt0018455 200
. . . .
list index out of range tt0077416 200
. . . . . .
list index out of range tt0087884 200
. . .
list index out of range tt0050976 200
. . . . . . . . .
list index out of range tt0043014 200

list index out of range tt0079944 200
.
list index out of range tt0053604 200
. . . . .
list index out of range tt0051201 200
.
list index out of range tt0032976 200
.
list index out of range tt0059578 200

list index out of range tt0072890 200
. . . . . . .
list index out of range tt1028532 200
. . . . . .
list index out of range tt0075314 200

In [29]:
# Convert gross revenue (ID) to dataframe

df1 = pd.DataFrame(grosses, columns=['imdbID', 'Gross'])
df1.head(3)

      imdbID        Gross
0  tt2582802   13092000.0
1  tt0047478     269061.0
2  tt0082971  242374454.0

# Data Munging

In [12]:
df.head(4)

,Actors,Awards,Country,Director,Genre,Language,Metascore,Plot,Poster,Rated,Released,Response,Runtime,Title,Type,Writer,Year,imdbID,imdbRating,imdbVotes
0,"Miles Teller, J.K. Simmons, Paul Reiser, Melis...",Won 3 Oscars. Another 87 wins & 131 nominations.,USA,Damien Chazelle,"Drama, Music",English,88,A promising young drummer enrolls at a cut-thr...,https://images-na.ssl-images-amazon.com/images...,R,15 Oct 2014,True,107 min,Whiplash,movie,Damien Chazelle,2014,tt2582802,8.5,"413,720"
1,"Toshirô Mifune, Takashi Shimura, Keiko Tsushim...",Nominated for 2 Oscars. Another 5 wins & 6 nom...,Japan,Akira Kurosawa,"Action, Adventure, Drama",Japanese,98,A poor village under attack by bandits recruit...,https://images-na.ssl-images-amazon.com/images...,UNRATED,19 Nov 1956,True,207 min,Seven Samurai,movie,"Akira Kurosawa (screenplay), Shinobu Hashimoto...",1954,tt0047478,8.7,"232,249"
2,"Harrison Ford, Karen Allen, Paul Freeman, Rona...",Won 4 Oscars. Another 30 wins & 23 nominations.,USA,Steven Spielberg,"Action, Adventure","English, German, Hebrew, Spanish, Arabic, Nepali",85,Archaeologist and adventurer Indiana Jones is ...,https://images-na.ssl-images-amazon.com/images...,PG,12 Jun 1981,True,115 min,Raiders of the Lost Ark,movie,"Lawrence Kasdan (screenplay), George Lucas (st...",1981,tt0082971,8.5,"671,034"
3,"William Holden, Alec Guinness, Jack Hawkins, S...",Won 7 Oscars. Another 23 wins & 7 nominations.,"UK, USA",David Lean,"Adventure, Drama, War","English, Japanese, Thai",N/A,After settling his differences with a Japanese...,https://images-na.ssl-images-amazon.com/images...,PG,14 Dec 1957,True,161 min,The Bridge on the River Kwai,movie,"Pierre Boulle (novel), Carl Foreman (screenpla...",1957,tt0050212,8.2,"151,604"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 20 columns):
Actors        250 non-null object
Awards        250 non-null object
Country       250 non-null object
Director      250 non-null object
Genre         250 non-null object
Language      250 non-null object
Metascore     250 non-null object
Plot          250 non-null object
Poster        250 non-null object
Rated         250 non-null object
Released      250 non-null object
Response      250 non-null object
Runtime       250 non-null object
Title         250 non-null object
Type          250 non-null object
Writer        250 non-null object
Year          250 non-null object
imdbID        250 non-null object
imdbRating    250 non-null object
imdbVotes     250 non-null object
dtypes: object(20)
memory usage: 39.1+ KB

In [14]:
# Replace N/A with NaN
df = df.replace('N/A', np.nan)

In [15]:
# convert released column to datetime type
df['Released'] = pd.to_datetime(df['Released'])

In [16]:
# strip 'min' from runtime column and convert to integer
def intminutes(x):
    y = x.replace('min','').strip()
    return int(y)

df['Runtime'] = df['Runtime'].apply(intminutes)

In [17]:
# convert year column to integer types
df['Year'] = df['Year'].astype(int)

In [21]:
# convert year column to integer types
df['Metascore'] = df['Metascore'].astype(float)

In [22]:
# strip commas from imdbVotes and convert to integer
def intvotes(x):
    y = x.replace(',', '').strip()
    return int(y)
df.imdbVotes = df.imdbVotes.apply(intvotes)

In [24]:
df = pd.merge(df, df1)

In [26]:
df.head(2)

,Actors,Awards,Country,Director,Genre,Language,Metascore,Plot,Poster,Rated,...,Response,Runtime,Title,Type,Writer,Year,imdbID,imdbRating,imdbVotes,Gross
0,"Miles Teller, J.K. Simmons, Paul Reiser, Melis...",Won 3 Oscars. Another 87 wins & 131 nominations.,USA,Damien Chazelle,"Drama, Music",English,88.0,A promising young drummer enrolls at a cut-thr...,https://images-na.ssl-images-amazon.com/images...,R,...,True,107,Whiplash,movie,Damien Chazelle,2014,tt2582802,8.5,413720,13092000.0
1,"Toshirô Mifune, Takashi Shimura, Keiko Tsushim...",Nominated for 2 Oscars. Another 5 wins & 6 nom...,Japan,Akira Kurosawa,"Action, Adventure, Drama",Japanese,98.0,A poor village under attack by bandits recruit...,https://images-na.ssl-images-amazon.com/images...,UNRATED,...,True,207,Seven Samurai,movie,"Akira Kurosawa (screenplay), Shinobu Hashimoto...",1954,tt0047478,8.7,232249,269061.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 249
Data columns (total 21 columns):
Actors        250 non-null object
Awards        246 non-null object
Country       250 non-null object
Director      250 non-null object
Genre         250 non-null object
Language      249 non-null object
Metascore     169 non-null float64
Plot          250 non-null object
Poster        248 non-null object
Rated         249 non-null object
Released      249 non-null datetime64[ns]
Response      250 non-null object
Runtime       250 non-null int64
Title         250 non-null object
Type          250 non-null object
Writer        250 non-null object
Year          250 non-null int64
imdbID        250 non-null object
imdbRating    250 non-null object
imdbVotes     250 non-null int64
Gross         184 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(15)
memory usage: 43.0+ KB

In [43]:
df_nan = df[pd.isnull(df).any(axis = 1)]

# Exploratory Data Analysis (EDA)

In [31]:
df.describe()

//anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

        Metascore     Runtime        Year     imdbVotes         Gross
count  169.000000  250.000000   250.00000  2.500000e+02  1.840000e+02
mean    80.053254  129.196000  1984.03600  4.120415e+05  1.095643e+08
std     10.785937   32.563524    24.25953  3.387638e+05  1.391140e+08
min     53.000000   67.000000  1921.00000  2.627400e+04  1.017700e+04
25%           NaN  107.000000  1964.25000  1.218620e+05           NaN
50%           NaN  124.000000  1991.00000  3.302050e+05           NaN
75%           NaN  143.000000  2003.75000  6.027400e+05           NaN
max    100.000000  320.000000  2016.00000  1.711064e+06  9.366274e+08

In [42]:
pd.pivot_table(df, index = ['Title'], values = ['Gross'], aggfunc='max')

                                          Gross
Title
12 Angry Men                                NaN
12 Years a Slave                     56667870.0
2001: A Space Odyssey                56715371.0
3 Idiots                              6523137.0
8½                                      50690.0
A Beautiful Mind                    170708996.0
A Clockwork Orange                          NaN
A Fistful of Dollars                  3500000.0
A Separation                          7098492.0
Alien                                78900000.0
Aliens                               85200000.0
All About Eve                           10177.0
Amadeus                              51600000.0
American Beauty                     130058047.0
American History X                    6712241.0
Amores Perros                         5383834.0
Amélie                               33201661.0
Annie Hall                           39200000.0
Apocalypse Now                       78800000.0
Back to the Future                  210609762.0
Barry Lyndon                                NaN
Batman Begins                       205343774.0
Beauty and the Beast                218967620.0
Before Sunrise                        5400000.0
Ben-Hur                              70000000.0
Bicycle Thieves                        332930.0
Blade Runner                         27000000.0
Braveheart                           75600000.0
Butch Cassidy and the Sundance Kid  102308900.0
Casablanca                                  NaN
...                                         ...
The Sting                           159600000.0
The Terminator                       38400000.0
The Thing                            13782838.0
The Third Man                          449191.0
The Treasure of the Sierra Madre            NaN
The Truman Show                     125603360.0
The Usual Suspects                   23272306.0
The Wages of Fear                           NaN
The Wizard of Oz                     22202612.0
The Wolf of Wall Street             116866727.0
There Will Be Blood                  40218903.0
To Kill a Mockingbird                       NaN
Tokyo Story                                 NaN
Touch of Evil                         2237659.0
Toy Story                           191796233.0
Toy Story 3                         414984497.0
Trainspotting                        16501785.0
Twelve Monkeys                       56882000.0
Unforgiven                          101157447.0
Up                                  292979556.0
V for Vendetta                       70496802.0
Vertigo                               3200000.0
WALL·E                              223806889.0
Warrior                              13651662.0
Whiplash                             13092000.0
Wild Strawberries                           NaN
Wild Tales                            3079012.0
Witness for the Prosecution                 NaN
Yojimbo                                     NaN
Zootopia                            341264012.0

[250 rows x 1 columns]